main{
    background: #E8E8E8;
}

#vision-board{
    height: 850px;
    width: 1200px;
    background-image: url("../img/background.png");
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 50px auto;
    overflow: auto;
    font-weight: 700;
    text-transform: uppercase;
}

.block{
    float: left;
    width: 400px;
    box-sizing: border-box;
}

.small-block{
    height: 210px;
    padding: 20px 40px;
}

.large-block{
    height: 430px;
    padding: 70px 40px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.light-bg{
    background: #FFFFFF;
}

.dark-bg{
    background: #3B3B3B;
    color: #FFFFFF;
}

.highlight {
    padding: 5px 15px;
    background: #FFF44F;
    font-size: 18px;
}

.marker{
    font-family: 'Permanent Marker', cursive;
    font-weight: normal;
}

strong {
	font-size: 38px;
	text-transform: none; 
	line-height: 38px;
}

.title{
	margin: 10px 0;
	font-size: 30px;
}

.top-padding{
    padding-top: 40px;
}

